/* normalize css starts here */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
picture {
  display: contents;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* normalize css ends here */
